<div class="login">

    <mat-form-field class="login__input" appearance="fill">
      <mat-label>Pleas enter your email:</mat-label>
      <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="email">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of availableEmails" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button (click)="login()" mat-raised-button color="primary">
      <mat-icon>login</mat-icon>
      Log In
    </button>
</div>

