.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__box {
    height: 400px;
    width: 600px;
    padding: 24px;
    border: 1px solid black;

    &__controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
