

<div class="chat">

  <p class="chat-toolbar">
    <mat-toolbar>
    <span>Backend Rulez Chat</span>
    <span class="chat-toolbar__spacer"></span>
    <span>Connected with: </span>
    <img class="chat-toolbar__current-avatar" [src]="currentUser$ | async | avatar" alt="avatar">
    <span>{{currentUser$ | async | userName }}</span>
  </mat-toolbar>
  </p>

  <div #messagesContainer class="chat__messages">
      <app-message *ngFor="let message of messages$ | async" [message]="message" ></app-message>
  </div>

  <div class="chat__input">
    <mat-form-field class="example-full-width chat__input__field" appearance="fill">
      <mat-label>Whats on your mind?</mat-label>
      <textarea [(ngModel)]="input" matInput placeholder="Lets get shwifty..."></textarea>
    </mat-form-field>
    <div class="chat__input__send">
      <button (click)="sendMessage()" mat-fab color="primary" aria-label="Send Message">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
