.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__avatar {
      max-height: 64px;
      max-width: 64px;
      margin: 8px;
      border-radius: 50%;
    }
  }

  &__content{
    padding-left: 16px;
    max-width: 84%;

    &__chip {
      width: fit-content;
      height: fit-content;
    }

  }
}
